<div class="chatContainer">
    <div class="chatHeader">
        <h1>Chat General</h1>
        <h2 id="user">{{user}}</h2>
    </div>
    <div id="messageLogs">
    </div>
    <div class="chatInput">
        <input type="text" id="chatbox">
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messageLogs.js"></script>