<div class="register-card">
    <h2>Register</h2>
    <form action="/api/sessions/register" method="post" class="register-form">
        <input type="text" name="firstname" placeholder="Ingrese su nombre">
        <input type="text" name="lastname" placeholder="Ingrese su apellido">
        <input type="text" name="email" placeholder="Ingrese su email" required>
        <input type="text" name="age" placeholder="Ingrese su edad">
        <input type="password" name="password" placeholder="Ingrese su password" required>
        <button>Enviar</button>
    </form>
</div>